@import "variables";

body {
  background-color: $veryDarkBlueMainBg;
  font-size: $fsPrimary;
  font-family: $ffPrimary;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate((-50%, -50%));
}
